In [1]:
import pandas as pd

In [29]:
relevant = pd.read_csv('datasets/final_dataset.csv')
relevant['relevant'] = 'relevant'
relevant.rename(columns={'Patient': 'question'}, inplace=True)
relevant.drop(columns=['Description', 'Doctor'], inplace=True)
relevant.head()

                                            question  relevant
0  I am 35 years old unmarried , i was diagonized...  relevant
1  I have been having abdominal pain and burning ...  relevant
2  sir, Day before yesterday i had an oil fried i...  relevant
3  friend has a lump where their coccyx is, has b...  relevant
4  Which demographic should raise suspicion of a ...  relevant

In [30]:
relevant.shape

(496792, 2)

In [31]:
irrelevant = pd.read_csv('datasets/irrelevant_dataset.csv')
irrelevant['relevant'] = 'irrelevant'
irrelevant.head()

                                            question    relevant
0           When did Beyonce start becoming popular?  irrelevant
1  What areas did Beyonce compete in when she was...  irrelevant
2  When did Beyonce leave Destiny's Child and bec...  irrelevant
3      In what city and state did Beyonce  grow up?   irrelevant
4         In which decade did Beyonce become famous?  irrelevant

In [32]:
# irrelevant = irrelevant.sample(n=relevant.shape[0], random_state=42, replace=False)

In [33]:
irrelevant.shape

(86821, 2)

In [34]:
relevantQA_dataset = pd.concat([relevant, irrelevant])

In [35]:
relevantQA_dataset.shape

(583613, 2)

In [36]:
relevantQA_dataset

                                                question    relevant
0      I am 35 years old unmarried , i was diagonized...    relevant
1      I have been having abdominal pain and burning ...    relevant
2      sir, Day before yesterday i had an oil fried i...    relevant
3      friend has a lump where their coccyx is, has b...    relevant
4      Which demographic should raise suspicion of a ...    relevant
...                                                  ...         ...
86816  In what US state did Kathmandu first establish...  irrelevant
86817               What was Yangon previously known as?  irrelevant
86818  With what Belorussian city does Kathmandu have...  irrelevant
86819  In what year did Kathmandu create its initial ...  irrelevant
86820                      What is KMC an initialism of?  irrelevant

[583613 rows x 2 columns]

In [37]:
relevantQA_dataset.isna().sum()

question    0
relevant    0
dtype: int64

In [38]:
relevantQA_dataset = relevantQA_dataset.sample(frac=1, random_state=42, replace=False).reset_index(drop=True)

In [40]:
relevantQA_dataset

                                                 question  relevant
0       I just had a very sharp pain (sort of a sharp ...  relevant
1       forst let me say im a 16 year old guy thats in...  relevant
2       What is the extrapyramidal effect of antipsych...  relevant
3       Every once in a while I get these episodes whe...  relevant
4       Hi i am a 33 years old and i have been feeling...  relevant
...                                                   ...       ...
583608  I am pregnant of 12 weeks, doctor suggested me...  relevant
583609  my dad is saying he is having difficulty in br...  relevant
583610  I recently had my wisdom teeth removed and was...  relevant
583611  Which congenital kidney disease, characterized...  relevant
583612  hi my name is Aaron past couple days i been co...  relevant

[583613 rows x 2 columns]

In [39]:
relevantQA_dataset.to_csv("datasets/relevantQA_dataset.csv", index=False)